<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>eskibb.REPCCService</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/eliasskibb/Library/Developer/Xcode/DerivedData/REPCCService-.../Build/Products/Debug/REPCCService</string>
        </array>

        <key>KeepAlive</key>
        </true>
        <key><RunAtLoad/key>
        </true>

        <key>StandardOutPath</key>
        <string>/tmp/REPCCService.log</string>

        <key>StandardErrorPath</key>
        <string>/tmp/REPCCService.log</string>
    </dict>
</plist>